
<!DOCTYPE html>
<button style="float: right;" onclick="print()">Print</button>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Invoice {{ billno }}</title>
    <link rel="stylesheet" href="static/css/invoicestyle.css" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        
        <h2>RS Traders</h2>
        
        <p>215/85 Subhash Marg, Rakabganj, Lucknow, Uttar Pradesh-226003 <b>State Code: 09</b></p>
        <p><b>Phone</b>: 9335792564, 9307006742</p>
        <g>GSTIN:- 09AGBPJ3850C1ZR </g>
        <a href="mailto:sunilrstraders@gmail.com"><b>EMAIL:</b> sunilrstraders@gmail.com</a>
      </div>
      <h1>INVOICE: {{ billno }}</h1>
      
      <div id="project">
        <div><span>NAME</span>{{ cust['name'] }}</div>
        <div><span>ADDRESS</span>{{ cust['address'] }}</div>
        <div><span>State Code</span>09</div>
        <div><span>GST NO</span>{{ cust['gst'] }}</div>
       
      </div>
      <div id="billfo">
        <div><span>BILL-DATE</span> {{ cart[0]['date'] }}</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">Serial No.</th>
            <th class="desc">DESCRIPTION</th>
            <th>PRICE</th>
            <th>QTY</th>
            <th>GST RATE(C+S)</th>
            <th>GST Amount</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
        {% for j in cart[1:] %}
          <tr>
            <td class="service">{{ j['enum'] }}</td>
            <td class="desc">{{ j['name'] }}</td>
            <td class="unit">{{ j['rate'] }}</td>
            <td class="qty">{{ j['quantity'] }}</td>
            <td class="gst">{{ j['gst'] }} %</td>
            <td class="gsta">{{ (j['gst']/100)*(j['quantity']*j['rate']) }}</td>
            <td class="totals">{{ (j['quantity']*j['rate'])+(j['gst']/100)*(j['quantity']*j['rate']) }}</td>
          </tr>
        {% endfor %}
         
          <tr>
            <td colspan="6">TOTAL TAX</td>
            <td id="gsttotal" class="total"></td>
          </tr>
          <tr>
            <td colspan="6" class="grand total">GRAND TOTAL</td>
            <td id="grandtotal" class="grand total"></td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
    <!-- <div class="bank">
      <p>Bank Name: Orietal Bank of Commerce</p>
      <p>Account: 519110100000140</p>
      <p>IFSC Code: ORBC0105191</p>
      <p>Branch: Subhash Marg, Lucknow</p>
    </div> -->
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </body>
  <script>
    x =  document.getElementsByClassName('totals');
    y = document.getElementsByClassName('gsta');
    gstfulltotal = 0;
    fulltotal = 0;
    for (i=0; i<y.length; i++){
     gstfulltotal += parseFloat(y[i].innerHTML);
    }
    for (i=0; i<x.length; i++){
     fulltotal += parseFloat(x[i].innerHTML);
    }
    document.getElementById('gsttotal').innerHTML = '₹ '+gstfulltotal;
    document.getElementById('grandtotal').innerHTML = '₹ '+fulltotal;
    </script>
</html>
