<html>
    <head>

        <title>ORDER</title>
        <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous'>
        <link rel = "stylesheet" href = "static/css/design.css">
    </head>
    <nav  style="text-align: right;">
             <a href='/Dashboard'>Dashboard</a>        
    </nav>
    <body style="font-family: Courier New;">
      <style src = 'static/js/javascript.js'></style>
            <form method = 'POST' style="text-align: left;">
            <select name="customer">
                <option selected="1" value="" disabled="1">--Select Customer--</option>
                {%for i in li%}
                <option value={{ i[-8:-1] }}>{{ i }}</option>
                {% endfor %}  
            </select>
            <button>Here</button>
            <button href = '/order'>Reload</button> 
            <a href='/New_Customer' target="_blank">Add new Customer</a>
       {% if info %}
        <br>
       <a><a><b>RSCID: </a>{{ info[0] }}</a>
        <br>
       <a><a><b> First_name: </a>{{ info[1] }}</a>
        <br>
       <a><a><b>Last_name: </a>{{ info[2] }}</a>
        <br>
       <a><a><b>Phone:</a> {{ info[3] }}</a>
        <br>
       <a><a><b>Address: </a>{{ info[4] }}</a>
        <br>
       <a><a><b>Shop Name: </a>{{ info[5] }}</a>
        <br>
       <a><a><b>GST: </a>{{ info[6] }}</a>
        <br>

       {% endif %}
        <br>
        <br>
        <br>
        <form>
        <select name="goods">
            <option selected="1" value="" disabled="1">--Select ITEM--</option>
            {% for i in good %}
            <option value={{ i[-8:-1] }}>{{ i }}</option>
            {% endfor %}  
        </select>
        <button>Here</button>
                <br>
                Quantity:<input type="number" name="qty" required/><a>{{ amt[0] }}<a>  Rate* :<input type="number" name="rate" required /> 
                <br>
                <br>
               GST RATE:<input type="number" name="gst" /> 
                <br>
                <br>
                Transport Name:<input type="text" name="shop" />
     
                <br>
                <br>
            </p>
            <button>add</button>
            
        </form>
    
    </body>
</html>
